<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="about.css">
</head>
<body>
  <% include partials/header %>

  <div class="container pt-5">
    <div class="jumbotron" id="devjumbotron" padding>
    <center><h1 class="display-4">ABOUT US</h1></center>
    <h1>The Project</h1>
    <p>RoboTwit is a Twitter managment portal for both users and developers. Users can access statistics about their tweets and other people's tweets. RoboTwit also provides a search service where users can look up anyone or any phrase or word all over Twitter. RoboTwit can also view the most popular tweets at the moment and also the most recent tweets with its "Discover" service. On the other hand, developers can use all of the previous services as well as running their own Twitter bots from the website.</p>
  <hr>
    <h1>The Team</h1>
    <p>We are two undergrad. computer engineers from Alexandria, Egypt who created this project in an effort to learn about web engineering and as well as publishing it as an open-source website for anyone to use or learn from it.</p>
  <hr>
    <h1>FAQ</h1>
    <ul>
      <li>
        <h4>Must my username be the same as my Twitter username?</h4>
        <p>No, but it's preferrable to do so. If it's too late, you can always search for your Twitter username by preceding it with a '@' in the search bar.
        <p>
      </li>
      <li>
        <h4>
          Why doesn't RoboTwit show all of my tweets?
        </h4>
        <p>
          That's because we're limited by the free version of the Twitter API. That means that we can only search for tweets from the last seven days and also we can only do a limited number of searches per every fifteen minutes.
        </p>
      </li>
      <li>
        <h4>
          As a developer, do I need to have my own bot to use the bot service?
        </h4>
        <p>
          Preferably, but If you don't have a bot right now you can use the default bot that RoboTwit provides. Our cool bot can tweet random art images fetched from reddit!
        </p>
      </li>
  </ul>
  </div>
  </div>

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
  </body>
</html>
