<!DOCTYPE html>
<html>
<head>
  <title>RoboTwit</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <link rel="stylesheet" type="text/css" href="mainpage.css">
</head>
<body>

<% include partials/header %>

<div class="container-fluid" id="pageContainer">

  <div class="row" id="mainRow">
    <div class="col-md-4">
      <div class="card">
             <div class="card-body" class="smallGraph">
           <canvas id="retweetChart"  ></canvas>

         </div>
       </div>
       <div class="card" class="smallGraph" id ="tweetInfo">

      </div>
    </div>

    <div class="col-md-4" id="tweetCol">
      <div class="card" id="tweet">
          <div class="card-body" id="tweetBody">

          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
             <div class="card-body">
           <canvas id="likeChart" ></canvas>

         </div>
       </div>

       <div class="card" class="smallGraph" id ="sourceInfo">

      </div>
    </div>
  </div>
</div>
  
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="scripts/mainPage.js"></script>
    <script>
    (function refresh() {console.log('entered ajax');
      
      $.ajax
        ({
           type: "get",
           url: "/mainPage/refresh", 
           
           contentType: "application/json; charset=UTF-8",
                
        }).done(function ( response ) {
              
              console.log("Search for tweets completed");
              

              var tweetspace=document.getElementById("tweetBody");
              var tweetTag='';

              response.ids.forEach(function(obj){
                  tweetTag += `<div id =${obj} onmouseover="updateTweetInfo('${obj}')" onmouseout="clearTweetInfos()"><center><blockquote class='twitter-tweet' data-lang='en'><a href='https://twitter.com/<%=currentUser.username%>/status/${obj}'></a></blockquote></center></div>`;
              });

              tweetspace.innerHTML = tweetTag;
              
              $('<script>').attr('src', "https://platform.twitter.com/widgets.js").appendTo('body');

              var retweetArr =[];
              response.retweets.forEach(function(obj){
                  retweetArr.push(obj);
              });

              var likeArr =[];
              response.likes.forEach(function(obj){
                  likeArr.push(obj);
              });

              createGraph('retweetChart',retweetArr,response.ids);
              createGraph('likeChart',likeArr,response.ids);

              clearTweetInfos();

        }).then(function() {         
         setTimeout(refresh, 60000);  
      });
  })();
  </script>

</body>
</html>
