body{
  background-image:url(https://images.unsplash.com/photo-1516116216624-53e697fedbea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80);
  background-position:top;
  background-size:center;
}

#Navbarbutton{
  border:none;
  background:none;
}
button{
  cursor: pointer;
}
html,body{
  height: 100%;
}

.jumbotron{
  background-color: rgba(245, 245, 245, 0.7);
}

.navlink{
	list-style-type: none;
}

nav{
  height:8%;
  max-height: 60px;
}
.card-body{
  overflow-y: auto;
  height: 400px;
  width: 476px;
  background-color: rgba(245, 245, 245, 0.7);
}

#navPicture{
  border-radius: 50%;
}
