body {
  background: url(https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-position:center;
  background-size:cover;
}

html,body,#mainRow,#tweetCol,#pageContainer{
  height:100%;
}

button{
  cursor: pointer;
}

nav{
  height:8%;
  max-height: 60px;
}

#tweet{
  overflow-y: auto;
  height: 83%;
}

#pageContainer{
 margin-top: 10px;
}

.card{
  margin-bottom: 5px;
}

.smallGraph{
  padding-left: 10px;
}
#navPicture{
  border-radius: 50%;
}

#Navbarbutton{
  border:none;
  background:none;
}
.card{
  background-color: rgba(245, 245, 245, 0.9);
}

.navlink{
	list-style-type: none;
}